<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <span class="glyphicon glyphicon-large glyphicon-user"></span>
                    </div>
                    <div class="col-sm-5 col-md-8">
                        <p>Username: {{model.userProfile.firstName}} {{model.userProfile.lastName}}</p>
                        <p>Email: {{model.userProfile.email}}</p>
                        <p>3DS Friend Code: {{model.userProfile.friendCode}}</p>
                    </div>
                    <div ng-if="((model.user) && (model.user._id !== model.userProfile._id) && (model.userProfile.trainerType == 'GymLeader'))" class="col-sm-1 col-md-1">
                        <div class="btn-group">
                            <button ng-click="model.sendRequest(model.user._id)" class="btn btn-primary btn-large">Challenge</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active: model.selectedTab == 'team'}" role="presentation">
                            <a ng-click="model.selectedTab = 'team'">My Team</a>
                        </li>
                        <li ng-class="{active: model.selectedTab == 'badges'}" role="presentation">
                            <a ng-click="model.selectedTab = 'badges'">Badges</a>
                        </li>
                        <li ng-if="(model.user.trainerType == ('GymLeader' || 'EliteFour')) && (model.userProfile._id === model.user._id)" ng-class="{active: model.selectedTab == 'requests'}" role="presentation">
                            <a ng-click="model.selectedTab = 'requests'">Requests</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div ng-switch="model.selectedTab">
                            <div ng-switch-when='team'>
                                <div ng-include="'views/trainers/team.view.html'"></div>
                            </div>
                            <div ng-switch-when='badges'>
                                <div ng-include="'views/trainers/badges.view.html'"></div>
                            </div>
                            <div ng-switch-when="requests">
                                <div ng-include="'views/trainers/requests.view.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="model.selectedTab == 'team'">
                        <div class="container-fluid">
                            <div ng-if="model.user._id">
                                <h3>Comments</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea ng-model="model.newComment.comment" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <div class="btn-group">
                                            <button ng-click="model.addComment()" class="btn btn-primary btn-large">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="comment in model.comments" class="row">
                                <h4><a href="#/profile/{{comment.user_id}}">{{comment.user}}</a></h4>
                                <p>{{comment.comment}}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

