<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome!</h1>

            <p>Hello there! Welcome to the world of Pokemon! This website is designed to let players from across the world
            emulate the feeling of going out on their very own adventures and challenging the Pokemon League. Once you
            have registered, you will be able to build a team of Pokemon representing what you currently have in your
            cartridge game. With a team, you can join Leagues! Just like in the games, you will challenge eight gym
            leaders for their badges, and upon defeating them all, you win the right to challenge the Elite Four. Beat all
            four members and you receive a certificate acknowledging your prowess!</p>

            <p>To get started, search for a league to join below:</p>
        </div>

        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for Leagues">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                    <div ng-repeat="league in model.leagues">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-9 col-sm-10">
                                    <h3 class="text-left">{{league.leagueName}}</h3>
                                    <p>Difficulty: {{league.difficulty}}</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <div class="btn-group">
                                        <button ng-click="model.joinLeague(league)" type="button" class="btn btn-primary btn-lg">
                                            {{(model.user) ? "Join League" : "Login"}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
